html{
    height: 100%;
    margin: 0;
}

body {
    background-color: lavender;
}


.bg{
    background-image: url("http://puu.sh/HBqqL/9fb742e477.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -200;
}
/***************************************************************************************************************************/

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

a.navbar-brand {
    color: rebeccapurple !important;
    font-family: 'Chango';
    font-size:30px;
}


.nav-link{
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
    text-align:right;
    vertical-align:top;
    font-size: 14px;
}
/***************************************************************************************************************************/
h2{
    background-color:  darkorchid;
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    width: 100%;
    height: 32px;
    top :70px;
    right: 0;
    text-align: right;
    z-index: 10;
    
}
h2 nav#secondaryNav ul li{
    display: inline;
    font-size: 19px;
    color :cornsilk;

}
h2 nav#secondaryNav ul li a{
    right: 10px;
    font-size: 14px;
    color: white;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
/***************************************************************************************************************************/

/*SPECIFIC TO about.php*/

.aboutContents > h1 {
    font-size: 35px;
    font-style:italic;
    position: absolute;
    left :20px;
    top :135px;
}
.aboutContents > img{
    display: block;
    position: absolute;
    height : 300px;
    z-index: -10;
    width :300px;
    left : 600px;
    bottom: 0px;
}


.aboutContents > p {
    font-size: 18px;
    position: absolute;
    left :15px;
    top :216px;
    text-indent: 50px;
    margin-left: 7.5em;
    margin-right: 7.5em;
}


/***************************************************************************************************************************/


.RecentReviewShowsHere table {
    width: 500px;
    height: 210px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
    min-width: 350px;
 
}

.RecentReviewShowsHere table:hover{
    box-shadow: 545px 250px solid black;
    width: 545px;
    height: 250px;
    transition: width 600ms, height 1.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


table, th, td{
    border:1px solid darkorchid;
    border-collapse: collapse;
    padding: 5px;
}
/*Tried creating rounded edges*/
/*
tr:first-child{
    border-radius: 6px 0 0 0;
}

tr:last-child{
    border: 0 6px 0 0;
}

tr:only-child{
    border-radius: 6px 6px 0 0;
}*/
th, td {
    padding: 5px;
    font-size :18.5px;
    text-align: left;
    font-family: Helvetica;
    padding: 5px;
}

.RecentReviewShowsHere table tbody tr td img{
    display: block;
    overflow: hidden;
    background-size: cover;
    height: 200px;
    width: 200px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-spacing: 0px;
    border-radius: 5px;
}


.RecentReviewShowsHere table tbody tr td img:hover{
    width: auto;
    height: auto;
    transition: width 600ms, height 1.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
/***************************************************************************************************************************/

.loginSignup {
    position: fixed;
    
}

.loginSignup h1 {
    text-align:center;
    position: inherit;
    font-size: 30px;
    top: 150px;
    width: 100%;
}

.loginSignup form  .username label{
    position: fixed;
    left: 27em;
    top: 10.5em;
    font-size: 22px;
    font-style: italic;
    color : #A9A9A9;
    width: 100%;
}

.loginSignup form  .username input{
    position: fixed;
    left: 26em;
    top: 12em;
    font-size: 22px;
}

.loginSignup form  .password label{
    position: fixed;
    left: 27em;
    top: 15.5em;
    font-size: 22px;
    font-style: italic;
    color : #A9A9A9;
    width: 100%;
}
.loginSignup form  .password input{
    position: fixed;
    left: 26em;
    top: 17em;
    font-size: 22px;
}



.loginSignup form .confirmPassword label{
    position: fixed;
    left: 27em;
    top: 19.5em;
    font-size: 22px;
    font-style: italic;
    color : #A9A9A9;
    width: 100%;
}

.loginSignup form .confirmPassword input{
    position: fixed;
    left: 26em;
    top: 21em;
    font-size: 22px;
}

.loginSignup input{
    position: fixed;
    top: 27.5em;
    left: 34em;
}

.loginSignup form .signupActions input{
    position: fixed;
    top: 32.5em;
    left: 34em;
}

.loginSignup form .signupActions h3{
    text-align:center;
    position: fixed;
    font-size: 30px;
    top: 18.5em;
    width: 100%; 
}
.loginSignup h3 {
    text-align:center;
    position: fixed;
    font-size: 30px;
    top: 16em;
    width: 100%;
}
/***************************************************************************************************************************/

.userReviewPage{
    display: block;
    overflow: auto;
}

.userReviewPage .coverImg{
    border-radius: 5px;
    border-color: 5px lightyellow;
    position: absolute;
    top: 140px;
    left: 250px;
    width: 225px;
    height: 332px;
}

.userReviewPage .animeInfo{
    width: 750px;
    height: 332px;
    position: absolute;
    top: 140px;
    right: 175px;
    border-spacing: 0;
    min-width: 350px;
}


.userReviewPage .coverImg .animeInfo tr td{
    font-size: 14px;
}

.userReviewPage p{
    font-size: 18px;
    position: fixed;
    left :15px;
    top :12em;
    text-indent: 50px;
    margin-left: 7.5em;
    margin-right: 7.5em;
}
/***************************************************************************************************************************/

/*
 .submitPage input{
    position: absolute;
    top:150px;
    margin-left: 50px;
    border-radius: 5px;
}


 .submitPage button{
    position: absolute;
    top:149px;
    left: 265px;
    border-radius: 5px;
}

 .submitPage form{
    position: absolute;
    top:125px;
    margin-left: 50px;
}

*/
 .submitPage form p{
    font-family: Roboto;
    font-size: 16.5px;

}

.submitPage form textarea{
    width: 100%;
    height: 25px;
}
/*
.submitPage form .articleTitle p{
    position: relative;
    top: 100px;
}

.submitPage form .articleTitle textarea{
    position: relative;
    top:100px;
}

.submitPage form .description p{
    position: relative;
    top: 100px;
}

.submitPage form .description textarea{
    position: relative;
    top: 100px;
}
*/
/*
 .submitPage form input{
    
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 24.5px;
    font-family: Roboto;
    font-style: italic;
}
/*
.submitPage form p#values div{
    height: 400px;
    width: 585px;
    border-radius: 5px;
    border-color: black;
    padding: 0px 7.5px 16px 7.5px;

}

.submitPage form p#values div img{
    position: relative;
    left: 30px;
    width: 225px;
    height: 317px;
    padding: 10px;
    border-radius: 5px;
    padding: 0px 7.5px 7.5px 7.5px;


}

.submitPage form p#values div p{
    width:100%;
    font-size: 30px;
    line-height: 30.5px;
    font-family: Roboto;
    font-style: italic;
    margin-left: 7px;
}
*/

/*
.submitPage form p#values div p input#op1{
    position: absolute;
    top: 170px;
    left: 190px;

}

.submitPage form p#values div input#op2{
    position: absolute;
    top: 570px;
    left: 190px;
}

.submitPage form p#values div input#op3{
    position: absolute;
    top: 950px;
    left : 190px;
}

*/



.submitPage {
    margin: auto;
    margin-top: 7.5%;
  width: 90%;
  border: 3px solid purple;
  padding: 2%;
}

.submitPage form p{
    font-family: Roboto;

}

.results{
  text-align: center;
  
}

.results div p {
font-size: 30px;
  
  font-family: Roboto;
  font-style: italic;
}
#article {
    width: 100%;
    height: 40%;
  }

#title{
      width: 100%;
  }

#submit{
  
    margin-top: 5%;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 24.5px;
    font-family: Roboto;
    font-style: italic;
    
}

#buttonHolder {
    text-align: center;
}





#r1 {
    display:inline-block;
    padding: 2.5%;
    text-align: center;
    
}
#r2{
    display:inline-block;
    padding: 2.5%;
    
}
#r3{
    display:inline-block;
    padding: 2.5%;
   
}



#values {
    
    text-align: center;
}

.description p, .articleTitle p{
    padding-top: 2.5%;
    padding-bottom: .5%;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
    padding: 1%;
}

.submitPage img {
    padding-bottom: 2%;
}

#searchbar {
    padding: 10%;
}

#searchResults {
    margin-top: 10%;
    text-align: center;
}